.sidebar-option {
    cursor: pointer;
    color: white;
    display: none;
}
.active .sidebar-option{
    color: var(--twitter-color)!important;
}
.sidebar-option:hover {
    background-color: #2876c334;
    color: var(--twitter-color)!important;
    border-radius: 30px;
    transition: color 100ms ease-out;
}

.sidebar-option>.MuiSvgIcon-root {
    margin: 15px;
    font-size: 30px;
    background: none;
    text-align: center;
    border-radius: 50%!important;
}

/*small device*/

.only-icon {
    cursor: pointer;
    color: white;
    display: none;
    height: 60px!important;
    width: 60px;
}
.active .only-icon{
    color: var(--twitter-color)!important;
}
.only-icon:hover {
    background-color: #2876c334;
    color: var(--twitter-color)!important;
    border-radius: 50%;
    transition: color 100ms ease-out;
}

.only-icon>.MuiSvgIcon-root {
    margin: 15px;
    background: none;
    text-align: center;
    border-radius: 50%!important;
}
