.TweetBox{
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 8px solid var(--twitter-background);
}
.TweetBox > form{
    display: flex;
    flex-direction: column;
}
.TweetBox-input{
    padding: 20px;
    display: flex;
}
.TweetBox-input > input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}
.TweetBox-inputImage{
    border: none;
    padding: 20px;
}
.tweetBox-tweetBtn{
    background-color: var(--twitter-color)!important;
    border: none!important;
    color: white!important;
    font-weight: 900!important;
    text-transform: inherit!important;
    height: 40px!important;
    border-radius: 30px!important;
    margin-top: 20px!important;
    margin-left: auto!important;
    padding: 5px 25px!important;

}