.TweetBox{
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 8px solid var(--twitter-background);
}
.TweetBox > form{
    display: flex;
    flex-direction: column;
}
.TweetBox-input{
    padding: 20px;
    display: flex;
}
::placeholder{
    color: rgb(163, 162, 162);
}
.TweetBox-input > input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    color: lightgray!important;
    font-weight: bold;
    background: none;
}
.TweetBox-input > input:focus{
    outline-style: none;
}
.TweetBox-inputImage{
    border: none;
    padding: 20px;
}
.tweetBox-tweetBtn{
    background-color: var(--twitter-color)!important;
    border: none!important;
    color: white!important;
    font-weight: 900!important;
    text-transform: inherit!important;
    height: 40px!important;
    border-radius: 30px!important;
    margin-top: 20px!important;
    margin-left: auto!important;
    padding: 5px 25px!important;
    outline-style: none!important;

}